.Input-Password-Componente{
    width: 299px;
    height: 47px;
    background-color: transparent;
    border: 0;
    text-align-last: left;
    padding-left: 20px;
    padding-right: 55px;
}

.Contenedor-Input-Password-Componente{
    background-color: white;
    width: 299px;
    height: 47px;
    border-radius: 25px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;

    position: relative;
}

.Icono-Ojo-Input-Password-Componente{
    width: 20px;
    position: absolute;
    /* background-color: red; */
    right: 20px;
    height: 47px;
    cursor: pointer;
}