.C1c1e21{
    background-color: #1c1e21;
}

.C242526{
    background-color: #242526;
}

.C2d2d2e{
    background-color: #2d2d2e;
}

.C3A3B3C{
    background-color: #3A3B3C;
}

.C1876F2{
    background-color: #1876F2;
}

.Wbold-S36-H48-Cwhite{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}

.W600-S16-H21-C4d4d4d{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #4D4D4D;
}

.Wbold-S18-H24-Cwhite{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;

}

.Wbold-S14-H19-Ce4e6eb{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #e4e6eb;
}

.Wnormal-S14-H19-Ce4e6eb{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #E4E6EB;
}

.Wnormal-S14-H19-Cacafb7{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #ACAFB7;
}

.W600-S14-H19-Ce4e6eb{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #E4E6EB;
}

.W900-S12-H14-C4d4d4d{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    color: #4D4D4D;
}

.Wnormal-S11-H13-Cnegro{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.Wbold-S15-H20-Ce4e6eb{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #E4E6EB;
}


.Wbold-S11-H20-Ce4e6eb{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 20px;
    color: #E4E6EB;
}

.Wnormal-S14-H16-Ce4e6eb{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #E4E6EB;
}

.Wnormal-S14-H16-Cacafb7{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #ACAFB7;
}

.W500-S14-H16-Cacafb7{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ACAFB7;
}

.W500-S12-H16-Cacafb7{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #ACAFB7;
}

.W500-S12-H16-1876F2{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #1876F2;
}

.Wbold-S20-H27-Ce4e6eb{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #E4E6EB;
}

.Wbold-S14-H19-Ce4e6eb-LH19{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
    color: #E4E6EB;
}

.Wbold-S14-H19-C9c9b9b{

    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #9C9B9B;
}

.Wbold-S14-H19-C1876F2{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
    color: #1876F2;
}

.Wbold-S14-H19-EEB328{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
    color: #EEB328;
}

.Wbold-S12-H19-E4E6EB{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.015em;
    color: #E4E6EB;
}

.Wbold-S14-H19-E4E6EB{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
    color: #E4E6EB;
}

.Wbold-S20-H27-C004FB8{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #004FB8;
}