#Caja-Filtro-SubsidiosPendientes{
    background: #797EF6;
    border-radius: 6px;
    width: 240px;
    height: 38px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
}

#Texto-Filtro-SubsidiosPendientes{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

#Icono-Filtro-SubsidiosPendientes{
    position: absolute;
    right: 20px;
    color: white;
}

.ant-switch-handle::before{
    background-color: #797EF6 !important;
}