#Titulo-SubsidiosPendientes{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #6E7A9D;
    margin-bottom: 20px;
}