#Btn-Listo-Recuperar-Contrasenia{
    width: 90px;
    height: 28px;
    background: #FF8023;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}