#Caja-Menu-Administrador{
    background-color: red;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
}

.Contenedor-Cuerpo-Modulos-Administradores{
    
}

.Contenedor-Primer-Bloque-Modulo-Administrador{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Contenedor-Segundo-Bloque-Modulo-Administrador{
    /* padding-left: 40px; */
    padding-right: 40px;
    padding-top: 15px;
}

.Fila-Modulo-Administrador{
    display: flex;
    margin-top: 5px;
    padding-left: 40px;
    align-items: center;
    
    border: 1px solid #FFFFFF;
    border-radius: 0px 8px 8px 0px;
    margin-left: -5px;
}

.Fila-Modulo-Administrador-Seleccionado{
    display: flex;
    margin-top: 5px;
    padding-left: 40px;
    align-items: center;

    background: #FFFFFF;
    border: 1px solid #D7E8FF;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px #D8DFE9;
    border-radius: 0px 8px 8px 0px;
    margin-left: -5px;
    margin-right: 25px;
}

.Icono-Modulo-Administrador{
    width: 30px;
    margin-right: 5px;
}

.Input-Buscador-Tabla-Modulos-Administrador{
    width:95%;
    border: 0;
}

.Contenedor-Input-Buscador{
    background: #FFFFFF;
    border: 1px solid #1EC0ED;
    box-sizing: border-box;
    border-radius: 8px;   
    height: 37px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.Btn-Crear-Tabla-Modulo-Administrador{
    background: #FF8023;
    box-shadow: 0px 0px 15px #D8DFE9;
    border-radius: 19px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 28px;
}

.Contenedor-Tabla-Listado{
    margin-top: 40px;
}

.Fila-Tabla-Listado{
    background: #FFFFFF;
    border: 1px solid #D7E8FF;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px #D8DFE9;
    border-radius: 8px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.Switch-Tabla-Listado .ant-switch-checked{
    background-color: #E7F3FF;
}

.Input-Modal-Crear-Administrador{
    width: 100%;
    border: 0;
    background: #EDF0FA;
    height: 31px;
}

.Contenedor-Btns-Modal-Administrador{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Btn-Aceptar-Modal-Administrador{
    background: #004FB8;
    border: 1px solid #004FB8;
    box-sizing: border-box;
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    width: 84px;
    height: 24px;

    cursor: pointer;
}

.Btn-Cancelar-Modal-Administrador{
    width: 80px;
    height: 24px;

    background: #EDF0FA;
    border: 1px solid #004FB8;
    box-sizing: border-box;
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    cursor: pointer;
}

.td-Tabla-Administrador{
    padding:0;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-align-last: center;
}