.Contenedor-Btns-Filtro-Iluminado{
    display: flex;
    /* background-color: red; */
    width: 100%;
    height: 25px;
    padding-top: 15px;
    padding-left: 20px;
    position: relative;
}

.Btn-Aceptar-Filtro-Iluminado{
    width: 64px;
    height: 24px;
    background: #004FB8;
    border: 1px solid #004FB8;
    box-sizing: border-box;
    border-radius: 14px;

    cursor: pointer;
    display: flex;
    padding-top: 1px;
    justify-content: center;
}

.Btn-Aceptar-Bloqueado-Filtro-Iluminado{
    width: 64px;
    height: 24px;
    background: gray;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 14px;

    cursor: not-allowed;
    display: flex;
    padding-top: 1px;
    justify-content: center;
}

.Btn-Cancelar-Filtro-Iluminado{
    width: 67px;
    height: 24px;

    background: #EDF0FA;
    border: 1px solid #004FB8;
    box-sizing: border-box;
    border-radius: 14px;

    cursor: pointer;
    display: flex;
    padding-top: 1px;
    justify-content: center;
    margin-left: 10px;
}

.Icono-Flecha-Filtro-Tabla-Iluminado{
    width: 20px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.Switch-Filtro-Tabla-Iluminada{
    background-color: white !important;
}

.Checkbox-Filtros-Tablas-Iluminado .ant-checkbox-inner{
    border: 1px solid #FF8023 !important; 
}


.Checkbox-Filtros-Tablas-Iluminado .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #FF8023 !important;
    border-color: #FF8023 !important;
}